{% extends 'planner/crud/form_base.html' %}
{% block form_content %}
<form method="post" class="d-grid gap-3">{% csrf_token %}
  <div class="row g-3">
    {% include 'planner/crud/_form_fields.html' with exclude_fields='' %}
  </div>
  {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  <div class="d-flex gap-2">
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Cancel</a>
  </div>
</form>
{% endblock %}
